.place-order {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  align-items: start;
  gap: 50px;
}

.order-left {
  width: 100%;
  max-width: max(30%, 500px);
}

.order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  outline-color: tomato;
}

.order-left .multi-fields {
  display: flex;
  gap: 10px;
}

.order-right {
  width: 100%;
  max-width: max(40%, 500px);
}

.place-order .cart-total button {
  margin-top: 30px;
}

@media (max-width: 850px) {
  .place-order {
    flex-direction: column;
  }
  .cart-promo {
    justify-content: start;
  }
}
