.cart {
  margin-top: 100px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  font-size: max(1vw, 12px);
}

.cart-item {
  margin: 10px 0px;
  color: black;
}
.cart-item img {
  width: 100px;
}

.cart hr {
  height: 3px;
  background: #e2e2e2;
  border: none;
}

.cart-item .cross {
  cursor: pointer;
}

.cart-bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: max(12vw, 20px);
}

.cart-total {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.cart-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart-total hr {
  margin: 10px 0px;
}

.cart-total button {
  border: none;
  color: white;
  width: max(15vw, 200px);
  background-color: tomato;
  padding: 12px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.promo-cart {
  flex: 1;
}

.promo-cart p {
  color: #555;
}

.cart-promo-input {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #eaeaea;
}

.cart-promo-input input {
  outline: none;
  border: none;
  background: transparent;
  padding-left: 10px;
}

.cart-promo-input button {
  width: max(10vw, 150px);
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 5px;
}

@media (max-width: 850px) {
  .cart-bottom {
    flex-direction: column-reverse;
  }
  .cart-promo {
    justify-content: start;
  }
}
